.shows-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    transition: opacity 0.3s linear 2s; 

    .show-card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background-color: rgb(34, 34, 34);
        margin-bottom: 1rem;
        width: 13rem;
        transition: all .2s ease-in-out; 

        .show-image {
            max-width: 100%;
        }

        .show-content {
            padding: 1rem;

            .show-content-up {
                display: flex;
                justify-content: space-between;
                font-weight: 500;
            }

            .show-rating-good {
                color: rgb(30, 155, 30);
            }

            .show-rating-medium {
                color: orange;
            }

            .show-rating-bad {
                color: rgb(184, 31, 31);
            }
        }
    }

    .show-card:hover{
        transform: scale(1.05);
    }
}

